.panel-setups {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    overflow-y: auto;
    .setup {
        
        margin: 6px 12px;
        padding: 8px 12px;
        display: flex;
        align-items: center;
        min-width: 320px;
        border-radius: 3px;
        box-shadow: inset 3px 3px 34px -10px $yellow;
        background-color: white;
        .left-side,
        .right-side {
            padding: 12px;
        }
        .left-side {
            i {
                font-size: 34px;
            }
        }
        .right-side {
            margin: 0 auto;
        }
    }
}